a{
    text-decoration: none;
}

.title-one{
    text-align: center;
    color:blue;
}

.title-two{
    text-align: center;
      color:blue;
}

.title-three{
     text-align: center;
     color:blue;
}
